body {
	background: rgba(88, 13, 166, 0.78);
}

h1 {
	color: white;
	font-size: 5em;
	text-align: center;
	font-family: 'Verdana';
	text-shadow: 5px 8px 3px #333;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 30px 120px;
    text-align: center;
    font-size: 2em;
    font-family: 'Verdana';
	color: rgba(255,250,200,0.6);
	text-shadow: 5px 3px 3px #333;
}

blockquote:before, blockquote:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1;
}

blockquote:before {
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    top: 0;
    right: 0;
    content: "\201D";
}

blockquote cite {
	display: block;
	font-family: cursive;
}
